<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let category of categories">
        <ion-item (click)="openRandomQuote(category)">
            <h2>{{category}}</h2>
        </ion-item>
      </ion-list>
</ion-content>
