<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col text-center>
            <ion-button shape="round" color="primary" fill="outline" (click)="updateQuote(anecdotes)">Random Quote</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>{{anecdotes.value}}</p>
        </ion-col>
    </ion-row>
</ion-content>
